# Geographical patent data analysis
This notebook shows the steps taken to prepare the patent data and analyse them for the geographical analysis

In [1]:
# This cel imports the needed modules/packages
import numpy as np
import pandas as pd

In [2]:
# This is cel extracts the data from the excel file into a dataframe
pat_dat = pd.read_excel('final_database.xlsx')

In [3]:
# This cell extracs the designated states column and couns the occureance of different country codes
countries = pat_dat[' DS ']
country_abr2_list = ['AF','AX','DZ','AD','AO','AG','EG','AR','AM','AU','AT','AZ','BH','BD','BB','BY','BE','BZ','BJ','BT','BO','BA','BW','BR','BN','BG','BF','BI','KH','CM','CA','CV','CF','TD','CL','CN','CO','KM','CG','CR','CI','HR','CU','CY','CZ','KP','CG','DK','DJ','DM','DO','EC','SV','GQ','ER','EE','SW','ET','FM','FJ','FI','FR','GA','GE','DE','GH','GR','GL','GD','GT','GN','GW','GY','HT','HN','HK','HU','IS','IN','ID','IQ','IE','IR','IL','IT','JM','JP','JO','KZ','KE','KI','XK','KW','KG','LA','LV','LB','LS','LR','LY','LI','LT','LU','MO','MG','MW','MY','MV','ML','MT','MH','MR','MU','MX','MD','MC','MN','ME','MA','MZ','MM','NA','NR','NP','NL','NZ','NI','NE','NI','MK','NO','OM','PK','PW','PA','PG','PY','PE','PH','PL','PT','QA','VE','KR','YE','RO','RU','RW','KN','LC','VC','WS','SM','ST','SA','SN','RS','SC','SL','SG','SK','SI','SB','SO','ZA','SS','ES','LK','SD','SR','SE','CH','SY','TW','TJ','TZ','SS','BS','GM','TL','TG','TO','TT','TN','TR','TM','TV','UG','UA','AE','GB','US','UY','UZ','VU']

count = []

for x in range (len(country_abr2_list)):
    count.append(countries[countries.str.contains(country_abr2_list[x], regex=False, na=False)].shape[0])

In [4]:
# This cell combines the country codes with the patent counts
df_country_patent = pd.DataFrame({"Country abbreviation":country_abr2_list, "Patent count":count})

# The first 10 results are shown as a example 
df_country_patent.head(10)

  Country abbreviation  Patent count
0                   AF             0
1                   AX             0
2                   DZ           256
3                   AD             0
4                   AO           237
5                   AG           256
6                   EG           251
7                   AR             0
8                   AM           259
9                   AU           266

Now the data will be exported and visualized using the internet tool [Datawrapper](https://app.datawrapper.de/select/map)

In [5]:
df_country_patent.to_csv('patent_counts.csv')

A simple [website](https://patent-geographical-analysis.netlify.app/) is made to oporate the data more easily

## analysis over time
now we will do the same analysis but for different time periods

In [6]:
# Cleaning up application data into years
df_app_years = pat_dat[' AD '] 

year_list = np.linspace(1900,2022,123)
year_list = [int(x) for x in year_list]
str_year_list = [str(x) for x in year_list]
for x in range (len(str_year_list)):
    str_year_list[x] = ' '+str_year_list[x]


# Selecting first date from file
df_split_data = df_app_years.str.split(pat=';',expand=True)
df_first_dat_year = df_split_data[0]

years = df_first_dat_year

for x in range (len(str_year_list)):
    for y in range (len(df_first_dat_year)):
        if str(str_year_list[x]) in str(df_first_dat_year[y]):
            years[y] = year_list[x]

In [7]:
# Making a dataframes with time periods
patents_with_year = pd.DataFrame({" DS ":countries,"Year":years})

patent_before_1986 = patents_with_year[patents_with_year['Year']<=1986]
patent_between_1986_2011 = patents_with_year[(patents_with_year['Year']>1986) & (patents_with_year['Year']<=2011)]
patent_after_2011 = patents_with_year[patents_with_year['Year']>2011]

In [8]:
# patent_before_1986
countries_before_1986 = patent_before_1986[' DS ']

count_before_1986 = []

for x in range (len(country_abr2_list)):
    count_before_1986.append(countries_before_1986[countries_before_1986.str.contains(country_abr2_list[x], regex=False, na=False)].shape[0])
    
# This cell combines the country codes with the patent counts
df_country_patent_before_1986 = pd.DataFrame({"Country abbreviation":country_abr2_list, "Patent count":count_before_1986})
df_country_patent_before_1986.head(10)

  Country abbreviation  Patent count
0                   AF             0
1                   AX             0
2                   DZ             0
3                   AD             0
4                   AO             0
5                   AG             0
6                   EG             0
7                   AR             0
8                   AM             0
9                   AU             1

In [9]:
# patent_between_1986_2011
countries_between_1986_2011 = patent_between_1986_2011[' DS ']

count_between_1986_2011 = []

for x in range (len(country_abr2_list)):
    count_between_1986_2011.append(countries_between_1986_2011[countries_between_1986_2011.str.contains(country_abr2_list[x], regex=False, na=False)].shape[0])
    
# This cell combines the country codes with the patent counts
df_country_patent_between_1986_2011 = pd.DataFrame({"Country abbreviation":country_abr2_list, "Patent count":count_between_1986_2011})
df_country_patent_between_1986_2011.head(10)

  Country abbreviation  Patent count
0                   AF             0
1                   AX             0
2                   DZ            78
3                   AD             0
4                   AO            59
5                   AG            78
6                   EG            73
7                   AR             0
8                   AM            81
9                   AU            87

In [10]:
# patent_between_1986_2011
countries_after_2011 = patent_between_1986_2011[' DS ']

count_after_2011 = []

for x in range (len(country_abr2_list)):
    count_after_2011.append(countries_after_2011[countries_after_2011.str.contains(country_abr2_list[x], regex=False, na=False)].shape[0])
    
# This cell combines the country codes with the patent counts
df_country_patent_after_2011 = pd.DataFrame({"Country abbreviation":country_abr2_list, "Patent count":count_after_2011})
df_country_patent_after_2011.head(10)

  Country abbreviation  Patent count
0                   AF             0
1                   AX             0
2                   DZ            78
3                   AD             0
4                   AO            59
5                   AG            78
6                   EG            73
7                   AR             0
8                   AM            81
9                   AU            87

In [11]:
# Exporting the data for different time periods
df_country_patent_before_1986.to_csv('patent_counts_before_1986.csv')
df_country_patent_between_1986_2011.to_csv('patent_counts_between_1986_2011.csv')
df_country_patent_after_2011.to_csv('patent_counts_after_2011.csv')